{% extends 'libapp/base.html' %}
{% block title %}Book Details{% endblock %}
{% block body %}

<style>
    form {
        width: 50%;
        margin: 40px auto;
        text-align: center;
    }
    .all_reviews {
        border : 2px solid black;
        background: white;
        margin: 40px auto;
    }
    #review{
        height:100px;
        width:400px;
    }
</style>
<div class="container jumbotron">
    <h1>{{ book.name }} </h1>

<ul>
    <img src="{{ book.book_image }}" alt="book-image">
    <li><span>Name: </span>{{ book.name }}</li>
    <li><span>Author: </span>{{ book.author_name }}</li>
    <li><span>Date Published: </span>{{ book.pub_date }}</li>
    <li><span>Publisher: </span>{{ book.publisher }}</li>
    <li><span>Rating: </span>{{ book.rating }}</li>
    <li><span>Votes: </span>{{ book.num_votes }}</li>
</ul>
</div>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form class='rate' action="{% url 'libapp:rate' book.id %}" method="post">
        {% csrf_token %}
        {% for num in "12345" %}
            <input type="radio" id="{{ forloop.counter }}" name="rate_val" value={{ num }}>
            <label for="{{ forloop.counter }}" id="option">
                {{ num }}
            </label><br>
        {% endfor %}
        <input type="submit" value="Rate" >
</form>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form class='review' action="{% url 'libapp:review' book.id %}" method="post">
        {% csrf_token %}
        <span>{{ user.username }}</span><br>
        <input type="text" id="review" name="review" placeholder="Write a Review.." />
        <input type="submit" value="Post Review" >
    {% for r in all_reviews %}
        <div class="all_reviews">
          <span><strong>{{ r.user }}</strong></span><br>
          <p>{{ r.review_text }}</p>
        </div>
    {% endfor %}
</form>
{% endblock %}